#navpad {
     padding: 8px 20px;
     opacity: .9;
}

/* #name {
  background-color: mediumseagreen;
  padding: 10px 30px;
} */

.head {
     margin: 5px 20px;
     margin-top: 15px;
     padding-bottom: 5px;
     font-size: 24px;
     opacity: .7;
}

.active {
     text-decoration-line: underline;
     text-decoration-style: wavy;
     text-decoration-color: goldenrod;
     -moz-text-decoration-color: goldenrod;
     -moz-text-decoration-style: wavy;
}

.navbar-toggler {
     background-color: black;
     opacity: .25;
}

.container {
     margin-top: 20px;
     margin-left: 5px;
}

@media only screen and (max-width: 576px) {
     .container {
          width: 97%;
     }
}

#bottom {
     height: 35px;
}

#footer {
     height: 30px;
     border-top: 5px solid #ffc107;
     text-align: center;
     opacity: .9;
}